* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

#heading {
  width: 100%;
  height: 15%;
  border: 1px solid black;
  font-size: 3em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 32%;
  height: 90%;
  border: 1px solid black;
  border-radius: 2em;
  background-color: hsl(0, 0%, 75%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#display {
  width: 90%;
  height: 15%;
  border-radius: 2em;
  background-color: gray;
}

#keys {
  background-color: gray;
  width: 90%;
  height: 75%;
  border: 2px solid black;
  border-radius: 2em;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(5, 18.5%);
  grid-template-areas:
    "num-lock divide mul subt"
    "seven eight nine plus"
    "four five six plus"
    "one two three enter"
    "nil nil del enter";
  gap: 1%;
  justify-content: center;
  align-content: center;
}

.key {
  color: white;
  background-color: black;
  font-size: 2em;
  border: 1px solid black;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#num-lock {
  grid-area: num-lock;
  background-color: rgb(43, 124, 156);
}

#divide {
  grid-area: divide;
  background-color: rgb(43, 124, 156);
}

#mul {
  grid-area: mul;
  background-color: rgb(43, 124, 156);
}

#subt {
  grid-area: subt;
  background-color: rgb(43, 124, 156);
}

#seven {
  grid-area: seven;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#enter {
  grid-area: enter;
  background-color: rgb(43, 124, 156);
}

#nil {
  grid-area: nil;
}

#del {
  grid-area: del;
  background-color: hsl(0, 99%, 26%);
}

#plus {
  grid-area: plus;
  background-color: rgb(43, 124, 156);
}